@import "config";

header {
  margin-top: 10px;
  text-align: center;
}

.content {
  @include container;
}

section {
  clear: both;
  margin: 60px 0;
}

footer {
  padding-top: 30px;
  font-size: 80%;
  text-align: center;
}